.location-wrapper {
display: flex;
justify-content: space-between;
gap: 40px;
padding: 40px 80px;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}
.ministries-section {
  position: relative;
  background: url('/assets/images/workship_bg.png') center/cover no-repeat;
  padding: 60px 0;
  color: #1e1e1e;
}

/* Overlay */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(50, 0, 90, 0.7);
  z-index: 0;
}

.left-section {
width: 50%;
font-family: "Inter", sans-serif;
}


.title {
font-size: 40px;
font-weight: 700;
margin-bottom: 10px;
}


.address {
font-size: 14px;
margin-bottom: 20px;
}


.phone-label {
font-size: 12px;
font-weight: 600;
margin-top: 10px;
margin-bottom: 2px;
}


.phone-number {
font-size: 14px;
margin-bottom: 20px;
}


.section-heading {
font-size: 16px;
margin: 20px 0 10px;
font-weight: 700;
}


.services-list {
list-style: none;
padding: 0;
margin: 0;
line-height: 1.7;
font-size: 14px;
}


.right-section {
width: 50%;
display: flex;
justify-content: center;
align-items: flex-start;
}


.map-img {
width: 100%;
max-width: 650px;
border-radius: 4px;
}
