<footer class="site-footer">
  <div class="footer-top">
    <div class="footer-section">
      <h4>Get in touch</h4>
      <div class="social-icons">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-x-twitter"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
      </div>
    </div>

    <div class="footer-section">
      <h4>Ministries</h4>
      <ul>
        <li>Kids Ministry</li>
        <li>Youth Ministry</li>
        <li>Women Ministry</li>
      </ul>
    </div>

    <div class="footer-section">
      <h4>Address</h4>
      <p>
        MVJ International School, <br />
        Marathahalli Village, Marathahalli, <br />
        Bengaluru, Karnataka 560037
      </p>
    </div>
  </div>

  <div class="footer-bottom">
    <p>© 2025 Amen Namsan Church. All Rights Reserved.</p>
  </div>
</footer>
