<!--<section class="section">-->
<!--  <div class="container row">-->
<!--    <div class="streams-grid card" *ngFor="let vid of videos">-->

<!--      <div class="livestream card" style="margin-top:12px">-->
<!--        <img class="thumb"-->
<!--            [src]="vid.thumbnail"-->
<!--            alt="{{ vid.title }}"-->
<!--            class="stream-thumb"-->
<!--            (click)="openVideo(vid.videoId)"-->
<!--            />-->
<!--        <div class="meta">-->
<!--          <div class="badge-live">🔴 LIVE</div>-->
<!--          <div class="muted">{{ vid.title }}</div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->


<!--  </div>-->
<!--</section>-->



<section class="section">
  <div class="streams-grid">
    <div class="stream-card  livestream card"  *ngFor="let vid of videos">
        <img class="thumb"
          [src]="vid.thumbnail"
          alt="{{ vid.title }}"
          class="stream-thumb"
          (click)="openVideo(vid.videoId)"
        />
      <div class="meta">
          <div class="badge-live">🔴 LIVE</div>
          <span>{{ cleanTitle(vid.title) }}</span>
      </div>
    </div>

  </div>

  <div class="view-more">
    <p>View more</p>
    <i class="arrow down"></i>
  </div>
</section>

