<!--<div class="p-4">-->
<!--  <div *ngIf="loading" class="text-gray-500">Loading streams...</div>-->

<!--  <div *ngIf="!loading && videos.length === 0" class="text-gray-500">-->
<!--    No live or recent streams found.-->
<!--  </div>-->

<!--  &lt;!&ndash; Horizontal scrollable container &ndash;&gt;-->
<!--  <div-->
<!--    *ngIf="!loading && videos.length > 0"-->
<!--    style="display:flex;column-gap: 50px;"-->
<!--  >-->
<!--    <div-->
<!--      *ngFor="let vid of videos"-->
<!--      class="cursor-pointer hover:scale-105 transition-transform duration-200"-->
<!--    >-->
<!--&lt;!&ndash;      <iframe&ndash;&gt;-->
<!--&lt;!&ndash;        class="w-full aspect-video rounded-t-xl"&ndash;&gt;-->
<!--&lt;!&ndash;        [src]="vid.embedUrl"&ndash;&gt;-->
<!--&lt;!&ndash;        frameborder="0"&ndash;&gt;-->
<!--&lt;!&ndash;        allowfullscreen&ndash;&gt;-->
<!--&lt;!&ndash;      ></iframe>&ndash;&gt;-->
<!--      <img-->
<!--        [src]="vid.thumbnail"-->
<!--        alt="{{ vid.title }}"-->
<!--        class="w-full rounded-t-xl"-->
<!--        (click)="openVideo(vid.videoId)"-->
<!--        style="border-radius: 20px;cursor:pointer;"-->
<!--      />-->
<!--      <div class="p-2 font-semibold text-gray-800" style="width: min-content;min-width: 88%;">{{ vid.title }}</div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div>
  <div class="streams-grid">
    <div class="stream-card"  *ngFor="let vid of videos"
         class="cursor-pointer hover:scale-105 transition-transform duration-200" >

      <img
        [src]="vid.thumbnail"
        alt="{{ vid.title }}"
        class="stream-thumb"
        (click)="openVideo(vid.videoId)"
      />
      <div class="stream-info">
        <p class="live">
          <!--🔴-->
          <span>{{ vid.title }}</span>
        </p>
      </div>
    </div>

  </div>

  <div class="view-more">
    <p>View more</p>
    <i class="arrow down"></i>
  </div>
</div>

