.live-streams-container {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 16px;
  padding: 2rem;
  max-width: 55%;
  margin: 2rem auto;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.live-streams-container h2 {
  font-size: 1.5rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 2rem;
}

.streams-grid {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.stream-card {
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  max-width: 500px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.stream-card:hover {
  transform: translateY(-4px);
}

.stream-thumb {
  width: 70%;
  height: auto;
  border-radius: 16px;
}

.stream-info {
  margin-top: 0.6rem;
}

.stream-info p {
  font-size: 0.9rem;
  color: #222;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.live {
  display: inline-block;
  color: #111;
}

.live span {
  font-weight: 700;
  color: #464646;
}

.view-more {
  margin-top: 2rem;
  text-align: center;
  cursor: pointer;
}

.view-more p {
  font-size: 0.95rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 0.3rem;
}

.arrow.down {
  border: solid #333;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(45deg);
}
