<header class="site-header">
  <div class="topbar container">
    <div class="brand">
      <img style="height:45px;width:auto;" src="assets/logo/anc_logo.png" alt="logo" class="logo"/>
      <span class="title">
          <span class="light">Almighty</span>
          <span class="bold">Trinity Ministry</span>
      </span>
    </div>
    <button class="menu-toggle" (click)="toggleMenu()">
      ☰
    </button>

    <nav class="nav"  [class.open]="menuOpen">
      <a  [routerLink]="['/home']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="closeMenu()">Home</a>

      <a  [routerLink]="['/live']" routerLinkActive="active" (click)="closeMenu()">Live</a>

      <a  [routerLink]="['/location']" routerLinkActive="active" (click)="closeMenu()">Location</a>

      <a  [routerLink]="['/give']" routerLinkActive="active" (click)="closeMenu()">Offerings</a>

      <a  [routerLink]="['/about-us']" routerLinkActive="active" >About us</a>

      <div class="active-bg" #activeBg></div>

    </nav>


  </div>
</header>
