<header class="site-header">
  <div class="topbar container">
    <div class="brand">
      <img style="height:45px;width:auto;" src="assets/logo/anc_logo.png" alt="logo" class="logo"/>
      <span class="title">
          <span class="light">Almighty</span>
          <span class="bold">Trinity Ministry</span>
      </span>
    </div>
    <button class="menu-toggle" (click)="toggleMenu()">
      ☰
    </button>

    <nav class="nav"  [class.open]="menuOpen">
      <a (click)="closeMenu()">Home</a>
      <a (click)="closeMenu()">Discipleship</a>
      <a (click)="closeMenu()">Live</a>
      <a (click)="closeMenu()">Choirs</a>
      <a (click)="closeMenu()">Testimony</a>
<!--      <a class="donate">Donate</a>-->
    </nav>


  </div>
</header>
