<div class="carousel-container">

  <!-- Sliding wrapper -->
  <div class="slider" [style.transform]="'translateX(-' + currentSlide * 100 + '%)'">

    <!-- Dynamic slides -->
    <div class="slide" *ngFor="let slideIndex of [].constructor(totalSlides); let i = index">

      <div class="tile-row">

        <!-- Group tiles dynamically -->
        <ng-container *ngFor="let tile of tiles.slice(i * tilesPerSlide, (i + 1) * tilesPerSlide); let ti = index">

          <div class="tile glass"
               #t
               (mousemove)="tilt($event, t)"
               (mouseleave)="reset(t)">

            <img [src]="tile.image" alt="img" />

            <h5>{{ tile.title }}</h5>
            <p>{{ tile.day }}</p>
            <p>{{ tile.time }}</p>

<!--            <button class="remove-btn"-->
<!--                    (click)="removeTile(i * tilesPerSlide + ti)">✖</button>-->
          </div>

        </ng-container>

      </div>
    </div>

  </div>

  <!-- Arrows -->
  <button class="arrow left" (click)="prevSlide()">❮</button>
  <button class="arrow right" (click)="nextSlide()">❯</button>

  <!-- dots -->
  <div class="dots">
    <span *ngFor="let d of [].constructor(totalSlides); let i = index"
          class="dot"
          [class.active]="i === currentSlide"
          (click)="goToSlide(i)"></span>
  </div>


</div>
