<div class="timings-card">
  <div class="header">
    <span class="icon">⛪</span>
    <div style="font-size:14px;">Service Timings</div>
  </div>

  <div class="timing">
    <div>Sunday</div>
    <p>English–Tamil&nbsp;&nbsp;07:30 AM – 9:30 AM</p>
    <p>English–Telugu&nbsp;&nbsp;07:30 AM – 9:30 AM</p>
  </div>

  <div class="timing">
    <div>Tuesday</div>
    <p>Women’s Fellowship  07:30 AM – 9:30 AM</p>
  </div>

  <div class="timing">
    <div>Friday</div>
    <p>Special Service  07:30 PM – 9:30 AM</p>
  </div>
</div>
