<!-- schedule.component.html -->
<div class="schedule-container">
  <div class="day">
    <div class="day-name">Sunday</div>
    <div class="session">
      <div class="session-name">Tamil & Kannada</div>
      <div class="session-time">8 AM</div>
    </div>
    <div class="session">
      <div class="session-name">English & Telugu</div>
      <div class="session-time">10 AM</div>
    </div>
  </div>

  <div class="day">
    <div class="day-name">Wednesday</div>
    <div class="session">
      <div class="session-name">Women's Fellowship</div>
      <div class="session-time">10 AM</div>
    </div>
  </div>

  <div class="day">
    <div class="day-name">Friday</div>
    <div class="session">
      <div class="session-name">Fasting prayer</div>
      <div class="session-time">07:30 PM</div>
    </div>
  </div>

  <div class="day">
    <div class="day-name">Saturday</div>
    <div class="session">
      <div class="session-name">Youth meeting</div>
      <div class="session-time">05:30 PM</div>
    </div>
  </div>
</div>
