/* Wrapper */
.ministries-wrapper {
  text-align: center;
  padding: 60px 20px;
  font-family: "Poppins", sans-serif;
}

/* Title */
.title {
  letter-spacing: 12px;
  font-size: 26px;
  font-weight: 600;
  color: #1e1e1e;
  margin-bottom: 60px;
}

/* Cards container */
.cards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 80px;
  flex-wrap: wrap;

}

/* Individual card */
.card {
  text-align: center;
  width: 220px;
    border: 0px;
    background: #00000000;
}

/* Circular image */
.image-wrap {
  width: 200px;
  height: 200px;
  margin: 0 auto 20px;
  border-radius: 50%;
  overflow: hidden;
}

.image-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Name */
.name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #000;
}

/* Ministry role */
.role {
  font-size: 15px;
  font-weight: 500;
  color: #444;
}
