<section class="offering-section">
  <div class="offering-bg"></div>

  <div class="offering-card">

    <div class="offering-content">

      <!-- QR LEFT -->
      <div class="qr-block">
        <img src="/assets/images/qr.png" class="qr-img" alt="QR Code" />
        <p class="qr-text">SCAN QR CODE TO GIVE</p>
      </div>

      <!-- TEXT RIGHT -->
      <div class="details-block">

        <h2 class="title">Give Online</h2>

        <p><strong>Account Name:</strong> Alimight Trinity Minsitry</p>
        <p><strong>Account number:</strong> *************</p>
        <p><strong>IFSC code:</strong> *********</p>
        <p><strong>Branch:</strong> Marathahali</p>
        <p><strong>Banglaore:</strong> 560038</p>

        <br />

        <h3 class="subtitle">GPAY/ PAYTM/ PHONEPE</h3>

        <p><strong>Phone Number:</strong> *********</p>
        <p><strong>Pastor</strong> Christina</p>
        <p><strong>Banking name:</strong> Christina</p>

        <br />

        <h3 class="subtitle">Cash or Cheque</h3>
        <p>During Service or can be put into any offering box available at church</p>
        <p><strong>Cheques payable to:</strong></p>
        <p>Amen Namsan church</p>

      </div>

    </div>
  </div>
</section>
