.promise-card {
  width: 280px;
  border: 1px solid #eee;
  border-radius: 10px;
  text-align: center;
  background: #fff;
  font-size: 15px;
      margin: 2rem auto;
      padding: 2rem;
}
.promise-card div {
  margin-bottom: 8px;
}

.promise-card span {
    font-size: 10px;
}
