.promise-card {
  border: 1px solid #eee;
  border-radius: 10px;
  text-align: center;
  background: #fff;
  padding: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
.promise-card div {
  margin-bottom: 8px;
  font-size: 1.2rem;
  font-weight: bold;
}

// .promise-card span {
//     font-size: 10px;
// }
