<div class="main">
  <div class="content">
    <app-header></app-header>
    <main>
      <app-home></app-home>

      <section class="container">

        <app-livestreams style="position:absolute;"></app-livestreams>
        <div class="side-content">
          <app-monthly-promise></app-monthly-promise>
          <app-service-timing></app-service-timing>
        </div>
      </section>



      <div class="spacer"></div>

      <app-ministries></app-ministries>

      <div class="spacer"></div>
      <div class="spacer"></div>
      <app-help-cards></app-help-cards>


      <app-quotes></app-quotes>



      <app-pastor-info></app-pastor-info>



      <app-sign-up></app-sign-up>




      <div class="spacer"></div>
      <div class="spacer"></div>

      <app-join-community></app-join-community>

      <!--
      <app-testimonials></app-testimonials>
      <app-cta-signup></app-cta-signup>
      -->
    </main>

    <div class="spacer"></div>
    <div class="spacer"></div>

    <app-footer></app-footer>
  </div>
</div>
