<section>

<app-home-bg-video-loader></app-home-bg-video-loader>

<!--<app-livestreams></app-livestreams>-->

  <div class="layout">
    <div class="left-section">
      <app-livestreams></app-livestreams>
    </div>

    <div class="right-section">
      <app-sign-up-card></app-sign-up-card>
      <app-monthly-promise></app-monthly-promise>
    </div>
  </div>

<!--      <section class="container">-->

<!--        <div class="">-->
<!--          <table>-->
<!--            <tr >-->
<!--              <td rowspan="2"></td>-->
<!--              <td><app-monthly-promise></app-monthly-promise></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td> </td>-->
<!--            </tr>-->

<!--          </table>-->




<!--        </div>-->
<!--      </section>-->

<app-service-timing></app-service-timing>
<app-ministries></app-ministries>

<div class="spacer"></div>
<div class="spacer"></div>


<app-quotes></app-quotes>

  <div class="spacer"></div>
  <div class="spacer"></div>

<app-our-belief></app-our-belief>

<app-help-cards></app-help-cards>


<!--      <app-pastor-info></app-pastor-info>-->



<!--<div class="spacer"></div>-->
<!--<div class="spacer"></div>-->
<!--<app-sign-up></app-sign-up>-->




<div class="spacer"></div>
<div class="spacer"></div>

<app-join-community></app-join-community>




</section>
