<section>

  <app-home-bg-video-loader></app-home-bg-video-loader>

  <div class="stream-layout">

    <div class="left-section">
      <app-livestreams></app-livestreams>
    </div>

    <div class="right-section">
      <app-sign-up-card></app-sign-up-card>
      <app-monthly-promise></app-monthly-promise>
    </div>

  </div>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <app-service-timing></app-service-timing>
  <app-ministries></app-ministries>
  <app-help-cards></app-help-cards>
<!--  <div class="spacer"></div>-->
<!--  <div class="spacer"></div>-->

<!--  <div class="stream-layout">-->

<!--    <div class="left-section">-->
<!--      <app-monthly-promise></app-monthly-promise>-->
<!--    </div>-->

<!--    <div class="right-section">-->
<!--      <app-help-cards></app-help-cards>-->

<!--    </div>-->

<!--  </div>-->

  <app-quotes></app-quotes>

  <div class="spacer"></div>
  <div class="spacer"></div>

  <app-our-belief></app-our-belief>


  <div class="spacer"></div>
  <div class="spacer"></div>

  <app-join-community></app-join-community>

</section>
