<div class="ministries-section">
  <div class="overlay"></div>
  <div class="container" style="min-height: 3rem;"></div>
</div>

<div class="live-wrapper">
  <h1 class="about-title">LIVE</h1>

  <div *ngIf="loading" class="loading">Loading videos...</div>

  <div class="video-grid" *ngIf="!loading">

    <div *ngFor="let v of videos" class="video-card">

      <div class="thumb-container">
        <img [src]="v.thumbnail" class="thumbnail" />
        <span class="duration">23:23</span>
      </div>

      <div class="video-info">
        <h4 class="title">{{ v.title }}</h4>
        <p class="meta"> </p>
      </div>

    </div>

  </div>

</div>
